
<body>
	<div class="wrap">
	<header>
		<img src="images/login_1.jpg" alt="" />
		<h1>关闭</h1>
	</header>
	<section class="wrapper" id="wrapper">
		<div>
		<div class="banner"></div>
			<div class="text">
				<dl class="phone">
					<dt><div class="img_1"><img src="images/login_phone_09.jpg" alt="" /></div></dt>
					<dd>
						<input type="text" placeholder="请输入手机号" />
					</dd>
				</dl>
				<dl class="yzm">
					<dt><div class="img_2"><img src="images/login_suo_12.jpg" alt="" /></div></dt>
					<dd>
						<div class="s_code"><input type="text" placeholder="请输入手机号" /></div>
						<div class="hq"><button class="code">获取验证码</button></div>
					</dd>
				</dl>
			</div>
		<div class="dl" >
			<button ui-sref = "show">登录</button>
		</div>
		</div>
	</section>
